/*
 * Empty Stylesheet file.
 */

.labelSair{
    -fx-text-fill: black;
    -fx-font-weight: normal;
    -fx-font-size: 20px;  
}

.labelSair:hover{
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 20px; 
}