/*
 * Empty Stylesheet file.
 */

.borderpane{
    
    
}

.root{
    -fx-background-color: linear-gradient(from 0% 0% to 80% 80%, green 0%, silver 100%);
}
.btn{
    -fx-background-color: #0066FF;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-family: sans-serif; 
    -fx-font-size: 20px; 
    -fx-font-style: normal; 
    -fx-font-weight: bold;
    -fx-pref-height: 30;
    -fx-pref-width: 100;
}
.txtField{
    -fx-text-fill: white;
    -fx-font-size:25px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, blue, 2, 2, 1, 1);
}
.btn:hover{
    -fx-background-color: blue;
}





